[Unit]
Description=carbonapi server
Documentation=https://github.com/go-graphite/carbonapi
Wants=network-online.target go-carbon.service
After=network-online.target go-carbon.service

[Service]
User=carbon
Group=carbon
Type=simple
Restart=on-failure
EnvironmentFile=/etc/sysconfig/carbonapi
ExecStart=/usr/sbin/carbonapi -z $ZIPPER_URL -pid /var/run/carbonapi/carbonapi.pid -graphite $GRAPHITEADDR -p $PORT -i $INTERVAL -cpus $CPUS -cache $CACHE_TYPE -memsize $MEMSIZE -l $CONCURRENCY_LIMIT -idleconns $IDLECONNS -logdir $LOGDIR
ExecReload=/bin/pkill -USR2 --pidfile /var/run/carbonapi/carbonapi.pid
PIDFile=/var/run/carbonapi/carbonapi.pid
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
