[Unit]
Description=carbonapi server
Documentation=https://github.com/go-graphite/carbonapi
Wants=network-online.target go-carbon.service
After=network-online.target go-carbon.service

[Service]
User=carbon
Group=carbon
Type=simple
Restart=on-failure
ExecStart=/usr/sbin/carbonapi -config /etc/carbonapi.yaml
ExecReload=/usr/bin/sh -c "/usr/bin/kill -USR2 $(cat /var/run/carbonapi/carbonapi.pid)"
PIDFile=/var/run/carbonapi/carbonapi.pid
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
